*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Inter, sans-serif;
  }
  
  html{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(135deg, #1B56A8 0%, #6819AC 100%);
  }

form{
  width: 85%;
  margin: 0 auto;
  padding: 30px 10px;
}
  
  .tabbed-form{
    width: 1000px;
    height: initial;
    max-height: 80vh;
    overflow-y: auto;
    background: #fff;
    box-shadow: 0 50px 6px -49px rgba(0,0,0,0.75);
  }
  
  .form-titles{
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
    justify-content: space-around;
    font-size: 14px;
    text-transform: uppercase;
    background: #fff;
  }
  
  .form-titles h2{
    background: rgb(255,206,21);
    font-weight: bold;
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
    color: #5c4905;
  }
  
  .active-tab{
    background: #fff !important;
  }
  
  .form-row {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  
  .form-field {
    flex: 1;
    margin-right: 15px;
  }
  .form-field button{
    flex: 0;
  }

  .form-field:last-child {
    margin-right: 0; /* Remove margem à direita do último campo */
  }

  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  form input{
    display: block;
    width: 40%;
    margin: 4px;
    padding: 8px 15px;
    font-size: 15px;
    border: 1px solid #eee;
    outline: none;
  }
  
  form input[type="radio"]{
    width: 10%;
    margin-right: 5px;
  }
  
  form input:focus{
    border-color: rgb(244,206,21);
    box-shadow: rgb(244,206,21) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  }
  
  .submit-section{
    background: #fff;
    padding: 20px;
  }
  
  .submit-section button{
    background: rgb(244,206,21);
    box-shadow: 0 0 1px #000;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px 40px;
    display: block;
    margin: 0 auto;
  }
  
  .submit-section button:hover{
    background: rgb(247, 226, 123);
    cursor: pointer;
  }
  
  #form-2, #form-3{
    display: none;
  }
  
  footer{
    background: rgb(255,206,21);
    padding: 20px;
  }


/* ------------- TELA DOS BOTOES -------------- */

.container {
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.btn_inicio {
  display: inline-block;
  margin: 10px;
  padding: 15px 30px;
  font-size: 1.2rem;
  color: #fff;
  background-color: rgb(244,206,21);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn_inicio:hover {
  background-color: rgb(247,217,86);
  transform: scale(1.05);
}

.btn:active {
  transform: scale(0.98);
}

.btnEnviar{
  background-color: rgb(244,206,21);
}
.btnCadBandeira {
  width: 135px;
  background: rgb(244, 206, 21);
  box-shadow: 0 0 1px #000;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 15px;
  text-transform: uppercase;
  padding: 10px 40px;
  display: block;
  margin: 0 auto;
}



/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #FFCE15 #FFFFFF;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 1px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #FFFFFF;
}

*::-webkit-scrollbar-track:hover {
  background-color: #FFFFFF;
}

*::-webkit-scrollbar-track:active {
  background-color: #FFFFFF;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #FFCE15;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #E8BB13;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #E8BB13;
}
